<div>
    <div class="mt-4 text-red-700 dark:text-red-200">
        {{ .Error }}
    </div>
    <div class="mt-4 text-green-700 dark:text-green-200">
        {{ .Message }}
    </div>
    {{ if .Id }}
    <dl class="flex"><dt class="flex-none w-20"> Id    </dt><dd>{{ .Id    }}</dd></dl>
    <dl class="flex"><dt class="flex-none w-20"> Email </dt><dd>{{ .Email }}</dd></dl>
    <dl class="flex"><dt class="flex-none w-20"> Token </dt><dd>{{ .Token }}</dd></dl>
    {{ end }}
</div>

<script type="module">
    const user = '{{ .Email }}';
    const token = '{{ .Token }}';
    login(user, token);
</script>
