{{ block "auth" . }}
<div class="max-w-lg mx-auto p-2">

    Auth

    <div class="grid grid-cols-2 gap-6 max-w-md mx-auto">

        {{ template "register" . }}

        {{ template "login" . }}

    </div>
    <div id="result"></div>
</div>
{{ end }}

{{ block "result" . }}
<div>
    <div class="mt-4 text-red-700 dark:text-red-200">
        {{ .Error }}
    </div>
    <div class="mt-4 text-green-700 dark:text-green-200">
        {{ .Message }}
    </div>
    {{ if .Id }}
    <dl class="flex"><dt class="flex-none w-20"> Id    </dt><dd>{{ .Id    }}</dd></dl>
    <dl class="flex"><dt class="flex-none w-20"> Email </dt><dd>{{ .Email }}</dd></dl>
    <dl class="flex"><dt class="flex-none w-20"> Token </dt><dd>{{ .Token }}</dd></dl>
    {{ end }}
</div>
<script type="module">
    const token = '{{ .Token }}'
    console.log("token length:", token.length)
    if (token.length > 0) {
        localStorage.setItem("supabase.auth.token", token)
        const { data: { user } } = await document.client.auth.getUser(token)
        console.log("user", user.email, user.role)

        const { data, error } = await document.client.auth.refreshSession()
        const { session, user2 } = data
        console.log("session", session, user2)
    }
</script>
{{ end }}
