{{ block "auth" . }}
<div class="max-w-lg mx-auto p-2">

    Auth

    <div class="grid grid-cols-2 gap-6 max-w-md mx-auto">

        {{ template "register" . }}

        {{ template "login" . }}

    </div>

    {{ template "result" . }}
</div>
{{ end }}

{{ block "result" . }}
<div id="auth">
    <div class="mt-4 text-red-700 dark:text-red-200">
        {{ .Error }}
    </div>
    <div class="mt-4 text-green-700 dark:text-green-200">
        {{ .Message }}
    </div>
    {{ if .Id }}
    <dl class="flex">
        <dt class="flex-none w-20">Id</dt>
        <dd class="flex w-full">{{ .Id }}</dd>
    </dl>
    <dl class="flex">
        <dt class="flex-none w-20">Email</dt>
        <dd class="flex">{{ .Email }}</dd>
    </dl>
    {{ end }}
</div>
{{ end }}
