{{ block "index" . }}
<!DOCTYPE html>
<html>

<head>
    <title>Qviz Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="htmx.png">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.js"></script>
    <script src="https://unpkg.com/@supabase/supabase-js@2"></script>
    <script src="htmx.js" type="module"></script>
    <script src="client.js" type="module"></script>
</head>

<body class="flex flex-col h-full w-full bg-zinc-50 text-800 dark:bg-zinc-800 dark:text-zinc-100 p-4">

    {{ template "header" . }}

    {{ template "auth" . }}

    <footer class="py-2">
        <p>Qviz is a simple quiz application.</p>
    </footer>

</body>

</html>
{{ end }}
