{{ block "index" . }}
<!DOCTYPE html>
<html>

<head>
    <title>Qviz Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            htmx.logAll()
            document.body.addEventListener('htmx:beforeSwap', function (evt) {
                if (evt.detail.xhr.status === 422) {
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            })
        })
    </script>
</head>

<body class="flex flex-col h-full w-full bg-zinc-50 text-800 dark:bg-zinc-800 dark:text-zinc-100 p-4">
    <h1 class="text-3xl font-bold pb-4">Qviz Index</h1>

    {{ template "auth" . }}

    <footer class="py-2">
        <p>Qviz is a simple quiz application.</p>
    </footer>
</body>

</html>
{{ end }}
