{{ block "login" . }}
<div class="mt-4">
    <h1 class="text-2xl font-semibold">Login</h1>
    <form hx-post="/login" hx-target="#auth">
        <div class="grid grid-cols-1 gap-6 max-w-md mx-auto">
            <label class="block">
                <span>Email address</span>
                <input type="email" name="email" class="dark:bg-zinc-700 rounded-md block w-full">
            </label>
            <label class="block">
                <span>Password</span>
                <input type="password" name="password" class="dark:bg-zinc-700 rounded-md block w-full">
            </label>
            <button hx-post="/login"
                class="px-4 py-1 text-sm text-purple-700 dark:text-purple-100 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">
                Login
            </button>
        </div>
    </form>
    {{ template "result" . }}
</div>
{{ end }}

{{ block "result" . }}
<div id="auth">
    <div class="mt-4 text-red-700 dark:text-red-200">
        {{ .Error }}
    </div>
    <div class="mt-4 text-green-500">
        {{ .Auth }}
    </div>
</div>
{{ end }}
