<div id="table" class="grid grid-flow-row-dense grid-cols-3 grid-rows-3 gap-4 w-96 mx-auto">
    <div class="bg-slate-700"> Id   </div> <div class="col-span-2 bg-pink-800">{{ .ID }}</div>
    <div class="bg-slate-700"> Name </div> <div class="col-span-2 bg-pink-800">{{ .Name }}</div>
    <div class="bg-slate-700"> Date </div> <div class="col-span-2 bg-pink-800">{{ .Date }}</div>
</div>

<div id="quiz-results" class="max-w-fit mx-auto text-left pt-8">

    <p class="text-xl p-4">Questions: {{ .Msg }}</p>

    <ul class="max-w-fit mx-auto text-left">
        {{ range $questions := .Ques }}
        <li class="bg-blue-900 my-8 py-1 px-4">
            <p class="p-4">{{ .Text }}</p>

            <ul class="answers list-inside p-4">
                {{ range .Ans }}
                <label for="answer-{{ $questions.ID }}-{{ .ID }}">
                    <li hx-on:click="radio(this)" class="border border-blue-800 hover:border-blue-300 p-2 m-2">
                        <input
                            type="radio"
                            id="answer-{{ $questions.ID }}-{{ .ID }}"
                            name="answer-{{ $questions.ID }}"
                            value="{{ .True }}"
                            class="mx-4"
                            >
                        {{ .Text }}
                    </li>
                </label>
                {{ end }}
            </ul>
        </li>
        {{ end }}
    </ul>

    <script>
        /**
         * Highlight the correct answers
         * @param {HTMLInputElement} item
         */
        function radio(item) {
            const selectedRadioButton = item.querySelector('input[type="radio"]')
            // loop through all radio buttons and highlight the correct answers
            for (const radioButton of document.getElementsByName(selectedRadioButton.name))
                if (radioButton.value === 'true')
                    radioButton.parentNode.classList.add('correct')
        }
    </script>

</div>

<style>
    #table div,
    #quiz-results li {
        border-radius: 4px;
    }

    #quiz-results .answers li {
        list-style-type: upper-alpha;
    }

    #quiz-results .correct {
        background-color: #225023;
    }
</style>
